/* # Guía de estilo de front-end
- Mobile: 480px
## Colores
Violeta: #8B48BF
Celeste brillante: #3CDDF3
### Neutro
Azul grisáceo oscuro: #1E1E26
Azul muy oscuro: #232851
Variante gris claro: rgb (249, 249, 249)
## Tipografia
### Body Copy
- Font size: 16px*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter&family=Karla&display=swap');
* {
box-sizing: border-box;    
font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    width: 480px;
    margin: 0;
    padding: 0;
    border: 1px solid pink;
    }

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.anchorContainer {
    display: none;
}

.headerContainer {
    border: 1px solid green;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vh;
}

.menuBtn {
    width: 5vh;
}

/* HeroSection */
.heroSection {
    width: 100%;
    align-items: center;
}


#padelPlayer {
    border: 1px solid blue;
    width: 90%;

}

.padelIntro {
    width: 90%;
    border:1px solid red;
    text-align: right;
}

.mainTitle {
    font-size: 50px;
    font-weight: 700;
    color: rgba(35, 44, 80, 1);
    
} 

.mainDescription {
    font-size: 17px;
    font-weight: 500;
    color: rgba(0,  0, 0, 1);
    
}

.contactBtn {
    font-size: 13px;
    font-weight: 500;
    width: 134px;
    height: 44px;
    background-color: #8b48bf;
    color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    border: none;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.quoteSection {
    width: 100%;
    padding: 40 20 40 20;
    text-align: left;
    background-color: rgba(60, 221, 243, 1);
}

.quoteTitle {
    font-size: 36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 41px;
    padding-left: 20px;
}

.quoteDescription {
    padding-left: 20px;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1); 
}

/* Card Style */

.titleContainer {
    height: 43px;
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 30px 0 0 30px;
    align-items: center;
    
}

.cardNumber {
    justify-content: center;
    height: 43px;
    width: 70px;
    /* padding: 10 25 10 25; */
    border-radius: 30px;
    text-align: center;
    background-color: #8b48bf;
}

.cardTitle {
    padding-left: 25px;
}

.cardDescription {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #b3b2b7;
    margin-right: 10px;
    padding: 5px;
}