@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter&family=Karla&display=swap');

* {
    box-sizing: border-box;    
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    width: 480px;
    margin: 0;
    padding: 0;
    }

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}


/* HEADER STYLES */

.headerContainer {
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vh;
}

.anchorContainer {
    display: none;
}

.contactBtn {
    font-size: 13px;
    font-weight: 500;
    width: 134px;
    height: 44px;
    background-color: #8b48bf;
    color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    border: none;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#headerContactBtn {
    display: none;
}

.menuBtn {
    width: 5vh;
}

/* HERO SECTION */

.heroSection {
    width: 100%;
    align-items: center;
}

#padelPlayer {
    width: 90%;
}

.padelText {
    width: 90%;
    text-align: right;
}

.mainTitle {
    font-size: 50px;
    font-weight: 700;
    color: rgba(35, 44, 80, 1);
   
} 

.mainDescription {
    font-size: 17px;
    font-weight: 500;
    color: rgba(0,  0, 0, 1); 
}

/*  QUOTE SECTION */

.quoteSection {
    width: 100%;
    padding: 40px 20px 40px 20px;
    text-align: left;
    background-color: rgba(60, 221, 243, 1);
}

.quoteTitle {
    font-size: 36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 41px;
    padding-left: 20px;
}

.quoteDescription {
    padding-left: 20px;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1); 
}

#quoteDesktop {
    display: none;
}

/* LIST SECTION */

.titleContainer {
    height: 43px;
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 30px 0 0 30px;
    align-items: center;
    
}

.cardNumber {
    justify-content: center;
    height: 43px;
    width: 70px;
    border-radius: 30px;
    text-align: center;
    background-color: #8b48bf;
    color: rgba(255, 255, 255, 1);
}

.cardTitle {
    padding-left: 25px;
}

.cardDescription {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #b3b2b7;
    margin-right: 10px;
    padding: 5px;
}


/* BEST SECTION */

.bestSection {
    text-align: center;
    align-items: center;
}

.bestTitle {
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(36, 46, 83, 1);
}

.bestCard {
    width: 445px;
    height: 219px;
    background-color: #FAFAFA;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.bestCardImage {
    position: relative;
    top: 0px;
    width: 72px;
}

.bestCardTitle {
    font-size: 16px;
    font-weight: 700;
    color: rgba(36, 72, 104, 1);
}

.bestCardDescription {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 5px 45px 5px;
    color: rgba(185, 185, 193, 1);
}

    .moreBtn {
        margin: 50px 0px 50px 0px;
    }

    button:hover {
        cursor: pointer;
    }

    #card2 {
        margin-left: 0;
        margin-right: 0;
    }
/* CAMBIAR POR PSEUDOELEMENTO */
#card1 {
    display: none;
    margin-right: 0;
}

#card3 {
    display: none;
    margin-left: 0;
}

/* LOWER SECTION QUOTE */

.lowerQuoteSection {

    align-items: center;
    background-color: rgba(60, 221, 243, 1);
    padding-left: 80px;
    padding-right: 80px;
}

.lowerQuoteTitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: -0.005em;
}

.quoteButton {
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(35, 44, 80, 1);
    color: rgba(255, 255, 255, 1) ;
    border: none;
    box-shadow: 0px, 4px, 8px, rgba(0,  0, 0, 0.25);
    margin-bottom: 40px;
}


/* FOOTER SECTION STYLES */

footer {
    align-items: center;
    justify-content: center;
    background-color:rgba(30, 30, 38, 1);
}

.footerInputContainer {
    margin: 52px 10px 20px 10px;
}

.footerInput {
    width: 308px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 13px;
}

.footerInput::placeholder {
    padding-left: 10px;
    color:  rgba(160, 160, 160, 1);  
}


.goBtn {
    width: 63px;
    height: 42px;
    background-color: rgba(139, 72, 191, 1);
    border-radius: 50px;
    font-size: 14px;
    border: none;
    color:#FFFFFF;
}

.footerLinks {
    width: 100%;
    padding-left: 40px;
    margin-bottom: 20px;
}

.footerLinksList {
    width: 50%;
    display: flex;
    flex-direction: column;  
}

.footerLink {
    list-style: none;
    margin-top: 10px;
}

.footerA {
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
}

.footerImages {
    align-items: center;
}

.iconContainer {
    margin: 30px 0px;
    width: 480px;
    justify-content: space-around;
}

.icon {
    width: 20px;
}

.footerLogo {
    width: 100px;
    color: #FAFAFA;
    margin-bottom: 30px;
}

.copyrigth {
    height: 70px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(140, 140, 148, 1);
}

/* COMIENZO STYLE DESKTOP ----------------------------------------------------------- */

@media screen and (width > 480px) {
    body {
        width: 1440px;
    }
    
    .headerContainer {
        width: 90%;
        margin: 0 auto;
    }
    
    .anchorContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navLinkLi {
        padding-left: 5px;
    }
    .contactBtn {
        margin: auto 0 ;
    }

    #headerContactBtn {
        display: initial;
    }
    
    .menuBtn {
        display: none;
    }

    .navLink:hover {
        cursor: pointer;
        color: rgba(36, 46, 82, 0.6);
    }
    
    /* HeroSection */
    .heroSection {
        flex-direction: row;
        width: 90%;
        margin: 0px auto 80px;

    }
    
    .navLink {
        margin-right: 10px;
        text-decoration: none;
       }
   
    li {
        list-style: none;
    } 

    #padelPlayer {
        width: 55%;
    }
    
    .padelText {
        width: 45%;
    }
    
    .mainTitle {
        padding-left: 45px;
     } 
    
    .mainDescription {
        margin-bottom: 55px;       
    }
    
/*  QUOTE SECTION */
    
    .quoteSection {
        flex-direction: row;
        align-items: center;
        background-color: rgba(139, 72, 191, 1);
        justify-content: space-evenly;

    }
    
    .quoteTitle {
        width: 40%;
     }
    
    .quoteDescription {
        width: 40%;
    }

    #quoteMobile {
        display: none;
    }

    #quoteDesktop {
        display: initial;
    }
    
    /* LIST SECTION */
   
    .titleContainer {
        background-color: transparent;    
    }
      
    .listSection {
        margin-top: 0px;
        padding-top: 0;
        width: 100%;
        background-color: rgba(250,  250, 250, 1);
    }
    
    #cardList {
        margin-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardId {
        width: 50%;
        padding: 30px;
    }
    
    .cardDescription {
       padding-left: 95px;
       padding-right: 20px;
    }
    
    
   /* BEST SECTION */
    
    .cardContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    
    .bestCard {
        background-color: rgba(250,  250, 250, 1);
        margin: 0 5px 0px 5px;
    }
    
    #card1, #card3 {
        display: flex;
    }
    
    
    /* lower section quote */
    
    .lowerQuoteSection {
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(139, 72, 191, 1);
    }
    
    .lowerQuoteTitle {
        width: 40%;
        padding-left: 40px;
        text-align: left;
    }
    
    .quoteButton {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(139, 72, 191, 1);
        margin-bottom: 0;
        margin-right: 130px;
    }
    
    /* FOOTER SECTION STYLES */
    
    #footerContainer {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 52PX;
    }
    
    .footerImages {
        margin-left: 110px;
        width: 20%;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .footerLogo {
        width: 120px;
        margin-bottom: 70px;
    }
    
    .iconContainer {
        margin-top: 0px;
        width: 100%;
    }
    
    .footerLinks {
        margin-top: 0px;
        width: 60%;
        padding-left: 80px;
        padding-right: 30px;
    }
       
    .footerLinksList {
        margin-top: 0px;     
    }
    
    .footerLink {
        margin-top: 0px;
        padding-top: 12px;
    }
  
    /* INPUT CONTINER */
    .footerInputContainer {
        margin: 0px;
        margin-right: 170px;
    }
    
    .footerInput {
        width: 201px;
    }
   
    
    .copyrigth {
        height: 50px;
    }

}